@(title: String)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body class="content">
    wow szachy w scali<br>
    w rolach głównych play framework, scalajs, websockety<br>
    kliknij po nowy link do gry: <button class="button" id="new_game">klik!</button><br>
    <a id="link_dest"></a>
    @scalajs.html.scripts("homepageclient", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
  </body>
</html>
